.pot {
  color: var(--tertiary);
}
.home,
.tukpot {
  position: relative;
}
.tukpot {
  font-size: var(--heading-big-size);
  line-height: 59px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  /* CSS rules for screens up to 768px wide */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for screens between 769px and 1024px wide */
}

@media (min-width: 1025px) {
  /* CSS rules for screens wider than 1024px */
}
.home {
  letter-spacing: 0.06em;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.active,
.button1,
.nav-menu {
  display: flex;
  flex-direction: row;
}
.active {
  border-bottom: 2px solid var(--white);
  padding: 10px 0;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
}
.button1,
.nav-menu {
  align-items: center;
}
.nav-menu {
  justify-content: flex-start;
  gap: var(--gap-16xl);
  color: var(--white-overlay);
}
.button1 {
  background-color: var(--primary);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-19xl);
  justify-content: center;
}
.long-arrow-right,
.subscribe {
  position: relative;
  line-height: 24px;
}
.subscribe {
  font-size: var(--accent-text-size);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--accent-text);
}
.button3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  font-family: var(--icon-small);
}
.button,
.navbar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.navbar-button {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-xl) 0;
  justify-content: space-between;
}
.lorem-ipsum-dolor,
.welcome-to-our {
  align-self: stretch;
  position: relative;
}
.welcome-to-our {
  line-height: 78px;
  text-transform: capitalize;
}
.lorem-ipsum-dolor {
  font-size: var(--body-size);
  line-height: 26px;
  color: var(--white-overlay);
}
.title {
  width: 796px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.long-arrow-right1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--icon-small);
}
.button7 {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-19xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--primary);
}
.button4,
.header,
.left-button {
  display: flex;
  align-items: flex-start;
}
.button4 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--accent-text-size);
}
.header,
.left-button {
  flex-direction: column;
}
.left-button {
  align-self: stretch;
  padding: var(--padding-41xl) 0;
  justify-content: center;
  gap: var(--gap-16xl);
  font-size: var(--heading-very-big-size);
}
.header {
  
  padding: 0 var(--padding-81xl) var(--padding-81xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 100px;
  background-image: url(./public/header@3x.png);
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.left-item {
  position: absolute;
  margin: 0 !important;
  bottom: -35.99px;
  left: -25px;
  width: 330px;
  height: 448px;
  object-fit: cover;
  z-index: 1;
}
.left {
  align-self: stretch;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-41xl) 120px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.were-delighted-to {
  position: relative;
  font-size: var(--heading-big-size);
  line-height: 59px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--heading);
  width: 590px;
}
.lorem-ipsum-dolor1 {
  position: relative;
  font-size: var(--body-size);
  line-height: 26px;
  color: var(--body);
  display: inline-block;
  width: 589px;
}
.title1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.camera {
  position: relative;
}
.high-class-tools,
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  line-height: 29px;
}
.lorem-ipsum-dolor2 {
  font-size: var(--body-size);
  line-height: 26px;
  color: var(--body);
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--icon-small-size);
  color: var(--heading);
  font-family: var(--accent-text);
}
.button-button,
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--heading-medium-size);
  font-family: var(--icon-small);
}
.button-button {
  background-color: var(--primary);
  padding: var(--padding-mini) var(--padding-19xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--white);
}
.about,
.right {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.right {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-41xl) 0;
  justify-content: center;
  gap: var(--gap-16xl);
}
.about {
  background-color: var(--white);
  width: 1900px;
  flex-direction: row;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  color: var(--tertiary);
}
.our-professional-photography {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-big-size);
  line-height: 59px;
  text-transform: capitalize;
  color: var(--heading);
}
.icon-list {
  width: 590px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.labore-et-dolore {
  flex: 1;
  position: relative;
  font-size: var(--body-size);
  line-height: 26px;
  font-family: var(--accent-text);
  color: var(--body);
}
.left1,
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list {
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--icon-small-size);
  font-family: var(--icon-small);
}
.left1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  padding: var(--padding-41xl) 0;
  justify-content: center;
  gap: var(--gap-16xl);
}
.box-child {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 428px;
  object-fit: cover;
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.box1,
.button11,
.content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button11 {
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--accent-text-size);
  color: var(--secondary);
}
.box1 {
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-16xl);
  gap: var(--gap-xl);
}
.box,
.wrapper-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-box {
  width: 367px;
  padding: var(--padding-16xl) 0;
  box-sizing: border-box;
  justify-content: flex-start;
}
.box {
  width: 590px;
  justify-content: space-between;
}
.right1,
.services {
  display: flex;
  align-items: flex-start;
}
.right1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-16xl);
  font-size: var(--icon-small-size);
  color: var(--heading);
}
.services {
  background-color: var(--white-smoke);
  width: 1900px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  color: var(--tertiary);
}
.wrapper-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wrapper2 {
  align-self: stretch;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.b,
.b1 {
  position: relative;
}
.b {
  line-height: 47px;
  text-transform: capitalize;
}
.b1 {
  font-size: var(--heading-extra-small-size);
  line-height: 27px;
  color: var(--white-overlay);
}
.count {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.group-photography {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-extra-small-size);
  line-height: 27px;
}
.box4,
.left2,
.wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.box4 {
  background-color: var(--primary);
  padding: var(--padding-11xl);
  gap: var(--gap-3xs);
}
.left2,
.wrapper3 {
  flex: 1;
  gap: var(--gap-11xl);
}
.left2 {
  overflow: hidden;
  flex-direction: row;
}
.save-memory {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.play {
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.play-button,
.video-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-button {
  border-radius: 100px;
  background-color: var(--white);
  width: 90px;
  height: 90px;
  flex-direction: column;
}
.video-box {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-81xl) 0;
  background-image: url(./public/rectangle-81@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--heading-medium-size);
  color: var(--secondary);
  font-family: var(--icon-small);
  max-width: 100%;
  height: auto;
}
.featured,
.right2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.right2 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-41xl) 0;
  gap: var(--gap-11xl);
  font-size: var(--accent-text-size);
  color: var(--tertiary);
}
.featured {
  background-color: var(--white);
  width: 1900px;
  flex-direction: row;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  font-size: var(--heading-medium-size);
}
.our-photography-agency {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-big-size);
  line-height: 59px;
  text-transform: capitalize;
  color: var(--white);
}
.title3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor9 {
  margin-block-start: 0;
  margin-block-end: 12px;
}
.duis-aute-irure {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  flex: 1;
  position: relative;
  line-height: 26px;
}
.content4,
.text {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text {
  flex: 1;
  align-items: center;
  font-size: var(--body-size);
}
.content4 {
  align-items: flex-start;
  gap: var(--gap-41xl);
}
.rectangle-icon {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 839px;
  object-fit: cover;
}
.box5,
.content5 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--icon-small-size);
  color: var(--heading);
  font-family: var(--accent-text);
}
.box5 {
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-16xl);
  gap: var(--gap-6xl);
}
.box5,
.row,
.wrapper4 {
  display: flex;
  flex-direction: row;
}
.row {
  width: 1072px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-41xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.wrapper4 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--heading-big-size);
  color: var(--secondary);
  font-family: var(--icon-small);
}
.left3,
.why-choice-us {
  display: flex;
  justify-content: flex-start;
}
.why-choice-us {
  background-color: var(--primary);
  width: 1900px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-26xl);
  color: var(--white-overlay);
}
.left3 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}
.lorem-ipsum-dolor13,
.our-vision {
  position: relative;
  display: inline-block;
  width: 590px;
}
.our-vision {
  letter-spacing: 0.06em;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.lorem-ipsum-dolor13 {
  font-size: var(--body-size);
  line-height: 26px;
  color: var(--body);
}
.content-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--accent-text-size);
}
.box8,
.box9 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl);
}
.box8 {
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.box9 {
  color: var(--heading);
}
.box10,
.box9,
.wrapper5 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
  color: var(--white);
}
.box10 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl);
}
.wrapper6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
  color: var(--heading);
}
.heading,
.vision,
.wrapper6 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vision {
  background-color: var(--white);
  width: 1900px;
  flex-direction: row;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  font-size: var(--icon-small-size);
  color: var(--secondary);
}
.heading {
  width: 720px;
  flex-direction: column;
  gap: var(--gap-xl);
}
.tab-title-active {
  background-color: var(--primary);
  padding: var(--padding-xl) var(--padding-21xl);
  justify-content: flex-start;
  color: var(--white);
}
.tab,
.tab-title-active,
.tab-title-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.tab-title-button {
  background-color: var(--white);
  padding: var(--padding-xl) var(--padding-21xl);
  justify-content: flex-start;
}
.tab {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-11xl);
  color: var(--body);
}
.row-child,
.row-inner {
  position: relative;
  height: 250px;
  object-fit: cover;
}
.row-child {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.row-inner {
  width: 528px;
}
.row1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.row-child2 {
  position: relative;
  width: 315px;
  height: 250px;
  object-fit: cover;
}
.gallery,
.wrapper7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper7 {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.gallery {
  background-color: var(--white-smoke);
  width: 1900px;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-26xl);
  text-align: center;
  color: var(--tertiary);
}
.button-button2,
.gallery,
.wrapper8 {
  overflow: hidden;
  align-items: center;
}
.button-button2 {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-19xl);
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--accent-text-size);
}
.wrapper8 {
  width: 800px;
  gap: var(--gap-16xl);
}
.content12,
.cta,
.wrapper8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cta {
  width: 1900px;
  overflow: hidden;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  background-image: url(./public/cta@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--heading-very-big-size);
  max-width: 100%;
  height: auto;
}
.content12 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-11xl) 0;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.top-wrapper-child {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 774px;
  object-fit: cover;
}
.content13,
.top-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.top-wrapper {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-41xl);
}
.content13 {
  align-items: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--icon-small-size);
  color: var(--heading);
}
.box12,
.content13,
.content16 {
  flex-direction: column;
}
.box12 {
  flex: 1;
  background-color: var(--white-smoke);
  overflow: hidden;
  display: flex;
  padding: var(--padding-16xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.content16 {
  align-self: stretch;
  gap: var(--gap-6xs);
  font-size: var(--icon-small-size);
}
.box15,
.content16,
.row3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.box15 {
  flex: 1;
  background-color: var(--primary);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-16xl);
  gap: var(--gap-6xl);
  color: var(--white);
}
.row3 {
  width: 1240px;
  flex-direction: row;
  gap: var(--gap-16xl);
}
.wrapper9 {
  flex-direction: column;
  font-size: var(--heading-medium-size);
}
.our-work-step,
.star,
.wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-work-step {
  background-color: var(--white);
  width: 1900px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  color: var(--tertiary);
}
.star {
  flex-direction: row;
  gap: var(--gap-3xs);
  font-family: var(--icon-small);
}
.lorem-ipsum-dolor23 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
  color: var(--body);
}
.box-inner {
  position: relative;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.clients,
.mr-john-doe {
  position: relative;
  line-height: 29px;
  display: inline-block;
  width: 273.33px;
}
.clients {
  font-size: var(--accent-text-size);
  letter-spacing: 0.06em;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary);
}
.box16,
.client {
  flex-direction: column;
}
.client {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--heading);
}
.box16 {
  flex: 1;
  background-color: var(--white);
  padding: var(--padding-31xl);
  align-items: center;
  gap: var(--gap-6xl);
}
.box16,
.testimonials,
.wrapper10 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.wrapper10 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--icon-small-size);
  color: var(--color-goldenrod);
}
.testimonials {
  width: 1900px;
  flex-direction: column;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-31xl);
  background-image: url(./public/testimonials@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: down;
  text-align: center;
  color: var(--white-overlay);
  max-width: 100%;
  height: auto;
}
.count1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.projects-was-done {
  align-self: stretch;
  position: relative;
  font-size: var(--icon-small-size);
  line-height: 29px;
  color: var(--white-overlay);
  text-align: center;
}
.counter-box {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.y {
  position: relative;
  line-height: 59px;
  text-transform: capitalize;
}
.counter,
.left4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.counter {
  background-color: var(--primary);
  width: 1900px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-31xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  font-size: var(--heading-big-size);
}
.left4 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16xl);
}
.lorem-ipsum-dolor25 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.how-to-get {
  flex: 1;
  position: relative;
  line-height: 27px;
}
.chevron-down {
  position: relative;
  font-size: var(--icon-small-size);
  font-family: var(--icon-small);
}
.accordion,
.faq-content,
.right4 {
  display: flex;
  justify-content: flex-start;
}
.accordion {
  background-color: var(--white);
  width: 590px;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-11xl);
}
.faq-content,
.right4 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--heading-extra-small-size);
  color: var(--heading);
}
.right4 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  gap: var(--gap-16xl);
  font-size: var(--body-size);
  color: var(--body);
}
.pot1 {
  color: var(--secondary);
}
.helloemailcom {
  flex: 1;
  position: relative;
  font-size: var(--body-size);
  line-height: 26px;
  font-family: var(--accent-text);
  color: var(--white-overlay);
}
.list1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.first,
.icon-list2,
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-list2 {
  align-self: stretch;
  gap: var(--gap-mini);
  font-size: var(--icon-small-size);
  font-family: var(--icon-small);
}
.first,
.quick-links {
  overflow: hidden;
  gap: var(--gap-6xl);
}
.first {
  width: 287px;
  flex-shrink: 0;
  font-size: var(--heading-big-size);
}
.quick-links {
  align-self: stretch;
  flex: 1;
}
.usefull-links {
  align-self: stretch;
  position: relative;
  line-height: 35px;
}
.newslater,
.social-icon,
.top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-icon {
  flex-direction: row;
  gap: 12px;
  font-size: var(--icon-small-size);
  font-family: var(--font-font-awesome-6-brands);
}
.newslater,
.top {
  overflow: hidden;
}
.newslater {
  width: 286px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.top {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.allright-reserved- {
  flex: 1;
  position: relative;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.bottom,
.footer,
.landing-page-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom {
  align-self: stretch;
  border-top: 1px solid var(--border-overlay);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xl) 0 0;
  text-align: center;
  font-size: var(--accent-text-size);
}
.footer,
.landing-page-button {
  flex-direction: column;
}
.footer {
  background-color: var(--primary);
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-81xl) var(--padding-81xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  font-size: var(--heading-standar-size);
}
.landing-page-button {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--accent-text-size);
  color: var(--white);
  font-family: var(--accent-text);
}

/* Screen Size > 500px */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text,
  #landing-image {
    height: 100vh;
  }
}

/* Screen Size > 700px */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
